﻿<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/tarefas"><i class="glyphicon glyphicon-th-large"></i> Lista de tarefas </a>
        <a ng-show="tarefa.idTarefa" class= "navbar-brand" href= "#/editTarefa/0"><i class="glyphicon glyphicon-plus"></i> Criar tarefa </a>
        <a ng-show="tarefa.idTarefa" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Id tarefa ativa: {{tarefa.idTarefa}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label class= "col-md-2"> Título </label>
    <div class="col-md-4">
    <input name="titulo" ng-model="tarefa.titulo" type= "text" class= "form-control" placeholder="Título" required/>
    <span ng-show="myForm.titulo.$dirty && myForm.titulo.$invalid" class="help-inline">informe o título</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Descrição </label>
    <div class="col-md-4">
    <input name="descricao" ng-model="tarefa.descricao" type= "text" class= "form-control" placeholder="Descrição" required/>
    <span ng-show="myForm.descricao.$dirty && myForm.descricao.$invalid && !myForm.descricao.$error.descricao" class="help-inline">Informe a descrição</span>
      <span ng-show="myForm.descricao.$dirty && myForm.descricao.$invalid" class="help-inline">informe descrição</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Prioridade </label>
    <div class="col-md-4">
        <select name="prioridade" class= "form-control" ng-options="prioridade.id as prioridade.nome for prioridade in prioridades" 
        ng-model="tarefa.prioridade" required/>>
        </select>
        <span ng-show="myForm.prioridade.$dirty && myForm.prioridade.$invalid && !myForm.prioridade.$error.prioridade" class="help-inline">Selecione prioridade</span>
      <span ng-show="myForm.prioridade.$dirty && myForm.prioridade.$invalid" class="help-inline">Selecione prioridade</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="salvarTarefa(tarefa);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteTarefa(tarefa)"
                ng-show="tarefa.idTarefa" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
