 <div class="row">
    <div class="col-md-12">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
        Números
    </div>
    </nav>
      <div ng-repeat="numero in numeros">
            <div>{{numero}}</div>
    </div>
</div>