 <div class="row">
    <div class="col-md-12">
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
     <a class= "navbar-brand" href= "#/tarefas"><i class="glyphicon glyphicon-th-large"></i> Lista de tarefas </a>
     <a class= "navbar-brand" href= "#/numeros"><i class="glyphicon glyphicon-th-large"></i> Programa que imprima números</a>
    </div>
    </nav>
</div>