 <div class="row">
    <div class="col-md-12" ng-show="tarefas.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/editTarefa/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nova</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Título</th>
        <th>Descrição</th>
        <th>Prioridade</th>
        <th>Ações</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in tarefas">
                <td>{{data.titulo}}</td>
                <td>{{data.descricao}}</td>
                <td>{{data.prioridade}}</td>
                <td><a href="#/editTarefa/{{data.idTarefa}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="tarefas.length == 0">
        <div class="col-md-12">
            <h4>Nenhuma tarefa cadastrada</h4>
        </div>
    </div>
</div>